# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
VITE_FIREBASE_API_KEY="AIzaSyA6C3NYp--eu1FdbfLb7-_qzd28BBpf6_M"
VITE_FIREBASE_AUTH_DOMAIN="netview-c6c6f.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="netview-c6c6f"
VITE_FIREBASE_STORAGE_BUCKET="netview-c6c6f.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1036995376919"
VITE_FIREBASE_APP_ID="1:1036995376919:web:2cc38e86dcb4f342d9a952"
VITE_OMDB_API_KEY=410f1631
